<h3>{{title}}</h3>
<ul>
    <span style="display:inline-block; width:300px; padding:10px; font-weight:bold;">Payload</span>
    <span style="margin-right:100px; font-weight:bold;">User</span>
    <span style="font-weight:bold;">Likes</span>
  {% for tweet in allTweet %}
  <li>
      <span style="display:inline-block; width:300px; padding:10px">{{tweet.payload}}</span>
      <span style="margin-right:100px">{{tweet.user}}</span>
      <span>{{tweet.countOfLike}}</span>
  </li>
  {% endfor %}
</ul>